$-images: (
	DSC02426: (
		large: './../../images/DSC02426_large.jpg',
		medium: './../../images/DSC02426_medium.jpg',
		small: './../../images/DSC02426_small.jpg'
	),
	DSC02475: (
		large: './../../images/DSC02475_large.jpg',
		medium: './../../images/DSC02475_medium.jpg',
		small: './../../images/DSC02475_small.jpg'
	),
	DSC02491: (
		large: './../../images/DSC02491_large.jpg',
		medium: './../../images/DSC02491_medium.jpg',
		small: './../../images/DSC02491_small.jpg'
	),
	DSC02567: (
		large: './../../images/DSC02567_large.jpg',
		medium: './../../images/DSC02567_medium.jpg',
		small: './../../images/DSC02567_small.jpg'
	),
	DSC02636: (
		large: './../../images/DSC02636_large.jpg',
		medium: './../../images/DSC02636_medium.jpg',
		small: './../../images/DSC02636_small.jpg'
	),
	DSC02702: (
		large: './../../images/DSC02702_large.jpg',
		medium: './../../images/DSC02702_medium.jpg',
		small: './../../images/DSC02702_small.jpg'
	),
	DSC02723: (
		large: './../../images/DSC02723_large.jpg',
		medium: './../../images/DSC02723_medium.jpg',
		small: './../../images/DSC02723_small.jpg'
	),
	DSC02793: (
		large: './../../images/DSC02491_large.jpg',
		medium: './../../images/DSC02491_medium.jpg',
		small: './../../images/DSC02491_small.jpg'
	),
	DSC02818: (
		large: './../../images/DSC02793_large.jpg',
		medium: './../../images/DSC02793_medium.jpg',
		small: './../../images/DSC02793_small.jpg'
	),
	DSC02890: (
		large: './../../images/DSC02890_large.jpg',
		medium: './../../images/DSC02890_medium.jpg',
		small: './../../images/DSC02890_small.jpg'
	),
	DSC02893: (
		large: './../../images/DSC02893_large.jpg',
		medium: './../../images/DSC02893_medium.jpg',
		small: './../../images/DSC02893_small.jpg'
	),
	DSC02978: (
		large: './../../images/DSC02978_large.jpg',
		medium: './../../images/DSC02978_medium.jpg',
		small: './../../images/DSC02978_small.jpg'
	),
	DSC03078: (
		large: './../../images/DSC03078_large.jpg',
		medium: './../../images/DSC03078_medium.jpg',
		small: './../../images/DSC03078_small.jpg'
	),
	DSC03195: (
		large: './../../images/DSC03195_large.jpg',
		medium: './../../images/DSC03195_medium.jpg',
		small: './../../images/DSC03195_small.jpg'
	),
	DSC03200: (
		large: './../../images/DSC03200_large.jpg',
		medium: './../../images/DSC03200_medium.jpg',
		small: './../../images/DSC03200_small.jpg'
	),
	DSC03252: (
		large: './../../images/DSC03252_large.jpg',
		medium: './../../images/DSC03252_medium.jpg',
		small: './../../images/DSC03252_small.jpg'
	),
	DSC03308: (
		large: './../../images/DSC03308_large.jpg',
		medium: './../../images/DSC03308_medium.jpg',
		small: './../../images/DSC03308_small.jpg'
	),
	DSC03327: (
		large: './../../images/DSC03327_large.jpg',
		medium: './../../images/DSC03327_medium.jpg',
		small: './../../images/DSC03327_small.jpg'
	)
)
