.section-rsvp {
	@include image(DSC03252);
	position: relative;
	height: auto;
	min-height: 100vh;

	@include viewport(small) {
		background: none;
	}

	&-background-small {
		display: none;

		@include viewport(small) {
			@include image(DSC03252);

			display: block;
			width: 100%;
			height: 400px;
			background-size: cover;
		    background-position: center bottom;
		}
	}

	.section-content {
		background: rgba(255, 255, 255, 0.9);
	}

	.form-line {
		margin-bottom: 15px;
	}

	.form-button {
		background-color: $-color-sage;
		border-color: $-color-sage;
		color: white;
		min-width: 100px;
		margin-top: 25px;

		&-container {
			text-align: center;
		}
	}

	.plus-one-name-entry {
		width: 220px;
		display: inline-block;
	}

	.form-toggle-box {

		&.row {
			position: absolute;
		    top: 50%;
		    left: 0;
		    right: 0;
		    transform: translateY(-50%);
		    margin: 0;
		}
	}

	.hid {
		display: none;
	}

	.form-save-message {
		text-align: center;

		span {
			font-size: 1.25em;
		}
	}

	.dropdown-toggle {
		position: static;
	}
}
