/**
 * My overrides
 */

section {
	padding: 0;
}

.section {
	height: 100vh;
	width: 100%;
	min-width: $-smallest-viewport-width;
	background-size: cover;
	background-position: center center;

	&-hero {
		text-align: center;

		.section-content {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}

		.section-heading {
			position: absolute;
			top: 21%;
			left: 0;
			right: 0;
			line-height: 2em;
		}
	}

	&-gallery {
		height: 100%;

		&:hover {
			.slick-prev,
			.slick-next {
				opacity: 1;
			}
		}

		.gallery-image {
			height: 100vh;
			width: 100%;
			min-width: $-smallest-viewport-width;
			background-size: cover;
			background-position: center center;
		}

		.gallery-1 {
			background-image: url('./../../images/DSC02567.jpg');
		}

		.gallery-2 {
			background-image: url('./../../images/DSC03200.jpg');
		}
	}

	&-story {
		background-image: url('./../../images/DSC02702.jpg');
	}

	&-youre-invited {
		background-image: url('./../../images/DSC03195.jpg');
	}
}


