/**
 * My overrides
 */

section {
	padding: 0;
}

.section {
	height: 100vh;
	width: 100%;
	min-width: $-smallest-viewport-width;
	background-size: cover;
	background-position: center center;

	.section-content {
		background: rgba(255, 255, 255, .85);
		padding: 50px;
		margin: 25px auto;
		height: calc(100vh - 50px);
		max-width: 800px;
	}

	.section-heading {
		color: $-color-sage;
		text-align: center;
	}

	&-hero {
		text-align: center;

		.section-content {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: none;
			padding: 0;
			margin: 0;
			height: auto;
			max-width: initial;
		}

		.section-heading {
			color: white;
			position: relative;
			top: 21%;
			margin: 0 auto;
			line-height: 2em;
		}
	}

	&-story {
		@include image(DSC02702);
		position: relative;
	}

	&-gallery {
		height: 100%;

		&:hover {
			.slick-prev,
			.slick-next {
				opacity: 1;
			}
		}

		.gallery-image {
			height: 100vh;
			width: 100%;
			min-width: $-smallest-viewport-width;
			background-size: cover;
			background-position: center center;
		}

		.gallery-1 {
			@include image(DSC02567);
		}

		.gallery-2 {
			@include image(DSC03200);
		}
	}

	&-bridal-party {
		@include image(DSC02793);
	}

	&-festivities {
		@include image(DSC02636);
	}

	&-registry {
		@include image(DSC02893);
	}

	&-travel {
		@include image(DSC02890);
	}

	&-todo {
		@include image(DSC02818);
	}

	&-youre-invited {
		@include image(DSC03308);

		.section-heading {
			font-family: 'bakery';
			text-transform: none;
			color: white;
			margin-top: 0;
			margin-bottom: 0;
			font-size: 10em;
			position: relative;
			top: 10%;
		}
	}

	&-rsvp {
		@include image(DSC02426);
		position: relative;

		.row {
			position: absolute;
		    top: 50%;
		    left: 0;
		    right: 0;
		    transform: translateY(-50%);
		    margin: 0;

		    @include viewport(small) {
		    	position: static;
		    	transform: none;
		    }
		}

		&-title {
			text-align: center;
		}

		.form-line {
			margin-bottom: 15px;
		}

		.form-box {
			background: white;
		    padding: 25px;
		}

		.form-button {
			background-color: $-color-sage;
			border-color: $-color-sage;
			color: white;

			&-container {
				width: 100%;
				display: flex;
				justify-content: flex-end;
			}
		}

		.guest {
			&-name {

			}

			&-entry {

			}

			&-unknown {
				.guest-name-entry {
					width: 220px;
					display: inline-block;
				}
			}
		}
	}
}


