@font-face {
    font-family: 'notera';
    src: url('./../../font/notera.ttf') format('truetype');
}

@font-face {
    font-family: 'luna';
    src: url('./../../font/Luna.ttf') format('truetype');
}

@font-face {
    font-family: 'bromello';
    src: url('./../../font/bromello.ttf') format('truetype');
}

@font-face {
    font-family: 'BacktoBlackDemo';
    src: url('./../../font/BacktoBlackDemo.ttf') format('truetype');
}

@font-face {
    font-family: 'bakery';
    src: url('./../../font/bakery.ttf') format('truetype');
}

@font-face {
    font-family: 'bromello';
    src: url('./../../font/bromello.ttf') format('truetype');
}

h1,
h2 {
    color: white;
	font-family: 'Reem Kufi', sans-serif;
    text-transform: uppercase;
}
