@font-face {
    font-family: 'bakery';
    src: url('./../../font/bakery.ttf') format('truetype');
}

@font-face {
    font-family: 'typewriter';
    src: url('./../../font/TravelingTypewriter.ttf') format('truetype');
}

@font-face {
    font-family: 'Megrim', cursive;
}

@font-face {
    font-family: 'Reem Kufi', cursive;
}

body {
    font-family: 'typewriter';
}

h1,
h2 {
    color: white;
    margin: 0;
}

h1 {
    font-size: 48px;
}
