.slick-dots {
	bottom: 25px;

	li button:before {
		color: white;
		font-size: 10px;
		opacity: .3;
	}

	li.slick-active button:before {
		color: white;
	}
}

.slick-prev,
.slick-next {
	z-index: 1;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	top: 45%;
	transform: translate(0, 0);

	&:before {
		font-family: 'Megrim';
		font-size: 100px;
	}
}

.slick-prev {
    left: 15px;
}

.slick-next {
    right: 40px;
}

.touch {
	.section-gallery:hover .slick-prev,
	.section-gallery:hover .slick-next {
		opacity: 0;
	}
}
