// Window
$-smallest-viewport-width: 320px;

// Nav
$-navbar-height: 60px;

// Colors
$-color-sage: rgba(150, 170, 129, 1);
$-color-dark-gray: rgba(21, 21, 21, 1);
$-color-light-gray: rgba(138, 134, 131, 1);
