<section class="section section-festivities" id="festivities">
	<div class="container">
		<div data-aos="animation_name" class="row">
			<div data-aos="fade-up"
				data-aos-duration="500"
				data-aos-offset="400"
				class="section-content">
				<h2 class="section-heading">ceremony & reception</h2>
				<div class="section-copy">
					The wedding will be held at <span class="highlight">Hakone Estate & Gardens</span> in Saratoga on <span class="highlight">September 23, 2017 at 5:30pm</span>. The ceremony will be held outdoors and is also gravel-y, so please dress appropriately. Cocktail hour, dinner and dancing will be held at the same location immediately following the ceremony. The address for Hakone Estate and Gardens is <span class="highlight">21000 Big Basin Way, Saratoga, CA 95070</span>.
				</div>
			</div>
		</div>
	</div>
</section>
