<section class="section section-gallery" id="gallery">
	<div class="gallery">
		<figure class="gallery-image gallery-1"></figure>
		<figure class="gallery-image gallery-2"></figure>
	</div>
</section>
