<section class="section section-gallery" id="gallery">
	<div class="gallery">
		<figure class="gallery-image gallery-0">
			<h3 class="section-heading">photos</h3>
		</figure>
		<figure class="gallery-image gallery-1"></figure>
		<figure class="gallery-image gallery-2"></figure>
		<figure class="gallery-image gallery-3"></figure>
		<figure class="gallery-image gallery-4"></figure>
		<figure class="gallery-image gallery-5"></figure>
		<figure class="gallery-image gallery-6"></figure>
		<figure class="gallery-image gallery-7"></figure>
		<figure class="gallery-image gallery-8"></figure>
		<figure class="gallery-image gallery-9"></figure>
		<figure class="gallery-image gallery-10"></figure>
		<figure class="gallery-image gallery-11"></figure>
	</div>
</section>
