<section class="section section-hero parallax-window" id="home" data-parallax="scroll" data-image-src="./images/DSC02475.jpg">
	<div class="section-content">
    	<h1 class="section-heading">We're a Phan of Yu!</h1>
	</div>
</section>
