<nav class="main-nav">
	<ul class="menu nav" id="nav">
		<li class="close">&times;</li>
		<li class="menu-item"><a href="#story">OUR STORY</a></li>
		<li class="menu-item"><a href="#gallery">GALLERY</a></li>
		<li class="menu-item"><a href="#bridalParty">BRIDAL PARTY</a></li>
		<li class="menu-item"><a href="#festivities">FESTIVITIES</a></li>
		<li class="menu-item"><a href="#registry">REGISTRY</a></li>
		<li class="menu-item"><a href="#travel">TRAVEL</a></li>
		<li class="menu-item"><a href="#todo">TO DO / TO EAT</a></li>
	</ul>
	<span class="mobile-btn">☰</span>
	<div class="overlay"></div>
</nav>
