<nav class="main-nav">
	<ul class="menu nav" id="nav">
		<li class="close">&times;</li>
		<li class="menu-item"><a href="#story">OUR STORY</a></li>
		<li class="menu-item"><a href="#gallery">GALLERY</a></li>
	</ul>
	<span class="mobile-btn">&#9776;</span>
	<div class="overlay"></div>
</nav>
