<section class="section section-registry" id="registry">
	<div class="container">
		<div data-aos="animation_name" class="row">
			<div data-aos="fade-up"
				data-aos-duration="500"
				data-aos-offset="400"
				class="section-content">
				<h2 class="section-heading">Registry</h2>
			</div>
		</div>
	</div>
</section>
