<section class="section section-registry" id="registry">
	<div class="container">
		<div data-aos="animation_name" class="row">
			<div data-aos="fade-up"
				data-aos-duration="500"
				data-aos-offset="400"
				class="section-content">
				<h2 class="section-heading">registry</h2>
				<div class="section-copy">
					While personal gifts of household items or sentimental pieces are greatly appreciated, we are currently saving for our home and we would greatly welcome monetary gifts; it will hopefully save you
					time and hassle in shopping, as well as help us reach our goal more quickly. Thank you in advance for any and all contributions; they're much appreciated.
				</div>
			</div>
		</div>
	</div>
</section>
<div class="section-registry-background-small"></div>
