<section class="section section-story" id="story">
	<div class="container">
		<div data-aos="animation_name" class="row">
			<div data-aos="fade-up"
				data-aos-duration="1000"
				data-aos-offset="400"
				class="section-content">
				<h2>Our Story</h2>
			</div>
		</div>
	</div>
</section>
