<section class="section section-todo" id="todo">
	<div class="row">
		<div class="section-content">
			<h2 class="section-heading">to do / to eat</h2>
			<div class="section-copy">
				We've mapped out a few of our favorite places below!
			</div>
			<div id="canvas1" class="map">
				<iframe id="map_canvas1" class="scrolloff" src="https://www.google.com/maps/d/embed?mid=1TIw0CPVkIgMNXnOm6S3tHDpNvnc" width="640" height="640"></iframe>
			</div>
		</div>
	</div>
</section>
