<section class="section section-travel" id="travel">
	<div class="container">
		<div data-aos="animation_name" class="row">
			<div data-aos="fade-up"
				data-aos-duration="500"
				data-aos-offset="400"
				class="section-content">
				<h2 class="section-heading">travel</h2>
				<div class="section-copy">
					<h3>by air</h3>
					<p>
						There are three airports in the Bay Area. The closest airport to our venue is San Jose Airport (SJC). San Jose Airport also allows Uber and Lyft ridesharing apps in addition to taxis to get you where you want to be.
					</p>
					<hr />

					<h3>staying here</h3>
					<p>
						There are several options for your stay in the Bay Area. We’ve reserved a block of hotel rooms at XXXX in XXXX. The hotel is XX minutes away from the venue. Please mention then Yu-Phan Wedding when booking. Also if you’d like to take advantage of the tech capital you can also book an entire home using Airbnb.com or vrbo.com.
					</p>
					<hr />

					<h3>getting around</h3>
					<p>
						The Bay Area is a beautiful place during the fall. We’ve put together a guide(link) of a few of our favorite places for you to enjoy. There are multiple ways to get around if you do not have a car. CalTrain, BART and MUNI connect much of Bay Area.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
